*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html{
  font-family: Arial, sans-serif;
  background-color:  rgba(41, 80, 255, 0.664); 
  height: 100vh;
  width: 100%;
}
header{
    text-align: center;
    padding: 10px;
    color: white;
}
header>h1{
    font-size: 3em;
    padding: 10px;
}
body{
    position: relative;
}
main {
    background-color: white;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
    overflow: hidden;
}
footer{
    
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom : 0;
    width: 100%;
}
div#escreva{
    text-align: justify;
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
}

div.img{
    position: absolute;
    width: 80%;
    height: 90%;
    left: 20%;
}
img{
    width:70%;
    height: 90%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
    
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    
    
    
    
    
}

